<!DOCTYPE html>
<html>
<head>
    <title>Demo</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>



<body>

<% flash.each do |key, value| %>
<div class="alert alert-<%= key %> alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <%= value %>
</div>
<% end %>
<% if current_user %>
    Welcome <%= current_user.email %> <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
<% end %>
<% if current_admin %>
    Welcome <%= current_admin.email %> <%= link_to 'Logout', destroy_admin_session_path, method: :delete %>
<% end %>
<div id ="logo">
<h3> 
<div id ="obraz">
<%= image_tag("b05.gif", :alt => "logo cats") %>.........................................................SsShop
</div>
</h3>
</div>




<ol>
    <li><a href="/users/sign_in">Login</a></li>
  
    <li><a href="#">Kategorie</a>
      <ul>
        <li><a href="/books/all.html">Książki</a></li>
        <li><a href="/elektronika/index.html">Elektronika</a></li>
        <li><a href="/all_products/all.html">Obrazy</a></li>
        <li><a href="/ubrania/index">Ubrania</a></li>
        <li><a href="/meble/index">Meble</a></li>
      </ul>
    </li>
  
    <li><a href="/products">Produkty</a>
  <% if current_admin %>
  <ul>
        <li><a href="/products/new.html">Dodaj produkt</a></li>
      </ul>
</li>
<% end %>
    <li><a href="/kontakt/show">Kontakt</a></li>
  </ol>
  <!--
=======

<div id ="login">
<% if current_user %>
    Welcome <%= current_user.email %> <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
<% else %>
    <%= link_to 'Login   |', new_user_session_path, { :class => "linki" }%>
     <%= link_to 'Products   |', products_path, { :class => "linki" }%>
      <%= link_to 'Categories  |', all_products_path, { :class => "linki" }%>
       <%= link_to 'Cart   |', new_user_session_path, { :class => "linki" }%>
        <%= link_to 'Contact   |', new_user_session_path, { :class => "linki" }%>
<% end %>
</div>-->

<body class='<%= controller.controller_name %>'>
<%= yield %>

<br />
<%= link_to image_tag("flag-en.jpg", :alt => "flag eng") , application_en_index_path %>

</body>
</html>
